.DS_Store
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nlo
*.out
*.toc
*.tdo
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb

*_bw*
Anal1.*
Anal2.*
CAnal.*
DM.*
PhysMed.*
!*.tex

tmp/*